In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [2]:
## Load the Dataset

data = pd.read_csv("Churn_Modelling.csv")

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
## Preprocess the Data
## Drop irrelevant columns
data = data.drop(['RowNumber','CustomerId','Surname'], axis=1)

In [5]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
## Encode categorical variable
label_encoder_gender = LabelEncoder()

data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [7]:
## One Hot Encode Geography column

from sklearn.preprocessing import OneHotEncoder

onehot_encoder_geo = OneHotEncoder()

geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])

In [8]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [9]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(), columns= onehot_encoder_geo.get_feature_names_out(['Geography']))

geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [10]:
## Combine OHE columns with the origian data

# Now drop the previous Geography column and add the new OHE columns

data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)

data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [11]:
## Save the encoders and scaler
import pickle
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo, file)

In [12]:
## Divide the Dataset into independent and dependent features
X=data.drop('Exited', axis=1)
y=data['Exited']

In [13]:
# Train test split

X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2)

# Sacle the feaures

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [14]:
X_train

array([[ 0.62698501, -1.08647625, -1.13603024, ...,  0.99526123,
        -0.57985213, -0.57119169],
       [ 0.3376697 ,  0.92040668, -1.99808327, ..., -1.00476134,
         1.7245776 , -0.57119169],
       [-2.31783146,  0.92040668, -0.56132822, ...,  0.99526123,
        -0.57985213, -0.57119169],
       ...,
       [ 0.17234668, -1.08647625,  1.35434517, ...,  0.99526123,
        -0.57985213, -0.57119169],
       [-0.82992419, -1.08647625, -0.56132822, ...,  0.99526123,
        -0.57985213, -0.57119169],
       [-1.20190101, -1.08647625, -0.9444629 , ...,  0.99526123,
        -0.57985213, -0.57119169]])

In [15]:
X_test

array([[ 0.43066391, -1.08647625,  0.68385948, ..., -1.00476134,
        -0.57985213,  1.75072575],
       [ 1.44326747, -1.08647625,  1.2585615 , ...,  0.99526123,
        -0.57985213, -0.57119169],
       [-1.12957218,  0.92040668, -0.56132822, ..., -1.00476134,
         1.7245776 , -0.57119169],
       ...,
       [ 0.48232736, -1.08647625,  0.01337379, ..., -1.00476134,
        -0.57985213,  1.75072575],
       [ 2.05289614,  0.92040668, -0.75289556, ..., -1.00476134,
        -0.57985213,  1.75072575],
       [-0.18929745,  0.92040668, -0.17819354, ...,  0.99526123,
        -0.57985213, -0.57119169]])

In [16]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

#### ANN Classification

In [17]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

WARNING:tensorflow:From c:\ML\Deep Learning\myenv\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [18]:
X_train.shape[1]

12

In [19]:
## Build ANN model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)), # Hidden layer1 connected with input layer
    Dense(32, activation='relu'), # Hidden layer2
    Dense(1, activation='sigmoid') # Output layer
])

WARNING:tensorflow:From c:\ML\Deep Learning\myenv\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [20]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
## Initialize the type of optimizer and the loss 
import tensorflow

opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy()

In [22]:
## Complie the model
model.compile(optimizer=opt, loss="binary_crossentropy", metrics = ['accuracy'])

In [23]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

log_dir = "logs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [24]:
## Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor = 'val_loss', patience = 10, restore_best_weights=True)

In [25]:
## Train the model
history = model.fit(
    X_train,y_train, validation_data = (X_test,y_test), epochs = 100,
    callbacks = [tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\ML\Deep Learning\myenv\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\ML\Deep Learning\myenv\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 8ms/step - loss: 0.4035 - accuracy: 0.8301 - val_loss: 0.3439 - val_accuracy: 0.8585
Epoch 2/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3585 - accuracy: 0.8550 - val_loss: 0.3429 - val_accuracy: 0.8575
Epoch 3/100
250/250 [==============================] - 2s 7ms/step - loss: 0.3447 - accuracy: 0.8577 - val_loss: 0.3385 - val_accuracy: 0.8620
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3442 - accuracy: 0.8579 - val_loss: 0.3408 - val_accuracy: 0.8525
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3455 - accuracy: 0.8619 - val_loss: 0.3270 - val_accuracy: 0.8630
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3420 - accuracy: 0.8560 - val_loss: 0.3415 - val_accuracy: 0.8590
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3398 - accuracy: 0.8581 - val_loss: 0.3644 - val_accuracy: 0.8580
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3384 - accuracy: 0.8584 - val_loss: 0.3478 - val_accuracy: 0.8610
Epoch 9/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3354 - accuracy: 0.8633 - val_loss: 0.3488 - val_accuracy: 0.8640
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3361 - accuracy: 0.8633 - val_loss: 0.3403 - val_accuracy: 0.8615
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3309 - accuracy: 0.8627 - val_loss: 0.3415 - val_accuracy: 0.8595
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3306 - accuracy: 0.8622 - val_loss: 0.3323 - val_accuracy: 0.8610
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3292 - accuracy: 0.8635 - val_loss: 0.3369 - val_accuracy: 0.8650
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3255 - accuracy: 0.8656 - val_loss: 0.3498 - val_accuracy: 0.8590
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3247 - accuracy: 0.8625 - val_loss: 0.3513 - val_accuracy: 0.8590

In [26]:
model.save('model.h5')

c:\ML\Deep Learning\myenv\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [27]:
# Load TensorBoard
%load_ext tensorboard

In [28]:
%tensorboard --logdir logs/fit1

In [29]:
## Load the trained model, scaler pickle, onehot pickle
from tensorflow.keras.models import load_model

model = load_model('model.h5')

## load the encoder and scaler

with open('onehot_encoder_geo.pkl','rb') as file:
    label_encoder_geo = pickle.load(file)


with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)


with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

In [30]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [31]:
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [32]:
# One hot encoded 'Geography'
geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns = label_encoder_geo.get_feature_names_out(['Geography']))

c:\ML\Deep Learning\myenv\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [33]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [34]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [35]:
## Encode categorical variables
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [36]:
## concatination with the above one hot encoded 

input_df = pd.concat([input_df.drop("Geography", axis =1), geo_encoded_df], axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [37]:
## Scaling the input data

input_scaled = scaler.transform(input_df)
input_scaled

array([[-0.5302762 ,  0.92040668,  0.10915746, -0.69168492, -0.25365339,
         0.80545859,  0.64531434,  0.97603703, -0.86525976,  0.99526123,
        -0.57985213, -0.57119169]])

In [38]:
# Prediction 

prediction = model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 313ms/step

array([[0.01645801]], dtype=float32)

In [39]:
prediction_prob = prediction[0][0]

In [40]:
if prediction_prob >0.5:
    print("Customer is not likely to churn")
else:
    print("The customer is likely to churn")

The customer is likely to churn

In [ ]:
##